* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1.2rem;
}
body {
  background-color: #fff065;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.view {
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  min-height: 60vh;
  min-width: 12vw;
  color: black;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.view .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.indicator {
  padding: 16px;
  border: 1px solid #000;
}

.indicator .level {
  width: 80%;
  height: 24px;
}
.indicator .level.normal {
  background-color: green;
}
.indicator .level.high {
  background-color: red;
}

.indigo-gecko .div {
  background-color: #fff065;
  height: 1130px;
  position: relative;
  width: 1920px;
}

.indigo-gecko .div-warp {
  height: 658px;
  left: 96px;
  position: absolute;
  top: 1355px;
  width: 1728px;
}

.indigo-gecko .asap {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 1544px;
  padding: 35px;
  position: absolute;
  top: -1090px;
  width: 240px;
}

.indigo-gecko .halaman {
  height: 70px;
  object-fit: cover;
  position: relative;
  width: 70px;
}

.indigo-gecko .p {
  height: 52px;
  margin-left: -2.5px;
  margin-right: -2.5px;
  position: relative;
  width: 175px;
}

.indigo-gecko .div-wrapper {
  height: 22px;
  left: 48px;
  position: absolute;
  top: 131px;
  width: 179px;
}

.indigo-gecko .text-wrapper {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18.6px;
  font-weight: 900;
  height: 21px;
  left: -18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 179px;
}

.indigo-gecko .riwayat {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 1279px;
  padding: 35px;
  position: absolute;
  top: -1090px;
  width: 240px;
}

.indigo-gecko .div-lingkaran {
  border-radius: 9999px;
  height: 75px;
  position: relative;
  width: 75px;
}

.indigo-gecko .icon {
  background-image: url("/assets/Icon riwayat OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  width: 77px;
}

.indigo-gecko .p-2 {
  height: 22px;
  position: relative;
  width: 72.52px;
}

.indigo-gecko .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18.2px;
  font-weight: 900;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 73px;
}

.indigo-gecko .detak-jantung {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 1014px;
  padding: 35px;
  position: absolute;
  top: -1090px;
  width: 240px;
}

.indigo-gecko .icon-detak {
  background-image: url("/assets/Icon detak jantung OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  position: relative;
  width: 75px;
}

.indigo-gecko .p-3 {
  height: 22px;
  position: relative;
  width: 132.22px;
}

.indigo-gecko .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 132px;
}

.indigo-gecko .kadar-oksigen {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 749px;
  padding: 35px;
  position: absolute;
  top: -1090px;
  width: 240px;
}

.indigo-gecko .icon-kadar {
  background-image: url("/assets/Icon kadar oksigen OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  width: 72px;
}

.indigo-gecko .p-4 {
  height: 22px;
  position: relative;
  width: 132.23px;
}

.indigo-gecko .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18.3px;
  font-weight: 900;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 132px;
}

.indigo-gecko .pergerakan {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 484px;
  padding: 35px;
  position: absolute;
  top: -1092px;
  width: 240px;
}

.indigo-gecko .icon-pergerakan {
  background-image: url("/assets/Icon pergerakan OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  width: 72px;
}

.indigo-gecko .kalori {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: 219px;
  padding: 35px;
  position: absolute;
  top: -1090px;
  width: 240px;
}

.indigo-gecko .icon-kalori-opsi {
  background-image: url("/assets/Icon kalori OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  width: 72px;
}

.indigo-gecko .p-5 {
  height: 28px;
  position: relative;
  width: 170px;
}

.indigo-gecko .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18.5px;
  font-weight: 900;
  height: 21px;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 90px;
}

.indigo-gecko .lokasi-keberadaan {
  align-items: center;
  background-color: #fff7b3;
  border: 4px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  left: -46px;
  padding: 35px;
  position: absolute;
  top: -1092px;
  width: 240px;
}

.indigo-gecko .icon-lokasi-opsi {
  background-image: url("/assets/Icon lokasi OPSI.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 75px;
  width: 77px;
}

.indigo-gecko .location {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 18.5px;
  font-weight: 900;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3.08px;
  margin-right: -3.08px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 176.17px;
}

.indigo-gecko .nav {
  height: 70px;
  left: 96px;
  position: absolute;
  top: 50px;
  width: 1728px;
}

.indigo-gecko .t-traxtion {
  height: 150px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -5px;
  width: 380px;
}

.indigo-gecko .link {
  height: 54px;
  left: 1681px;
  position: absolute;
  top: 8px;
  width: 47px;
}

.indigo-gecko .icon-notification {
  background-image: url("/assets/Icon notification.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
}

.indigo-gecko .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Black", Helvetica;
  font-size: 32px;
  font-weight: 900;
  height: 85px;
  left: 910px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 122px;
  width: 108px;
}
